extends layout.pug 
block content 
    section.leftSectionL

    section.rightSectionL
    h2.listB Blogs
    if blogList.length
        ul
        each blog in blogList
            li.blogs
                a.blog(href=`blogList/${blog.id}`)= blog.title
    else 
        p.blogs There are no blogs posted.