extends layout.pug 
block content 
    section.leftSectionD
        p.blogExplD= blog.title
        if !blog.delete
        a.leftB3(href=`/blogList/${blog.id}/delete`) Delete
    section.rightSection
        h3= blog.title
        p.contextD= blog.body
