extends layout.pug 
block content 
    section.leftSectionD
        p.blogExplD Let here put the title of the blog.  
        a.leftB3(href='#') Delete
    section.rightSection
        h3 Title of the blog again here. 
        p.contextD Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed unde possimus, veniam aspernatur maiores neque delectus culpa modi perferendis a consequuntur, harum velit! Explicabo placeat saepe earum laboriosam architecto fugit?
