extends layout.pug 
block content 
    section.leftSectionD
        p.blogExplD #{blog.title}
        a.leftB3(href='#') Delete
    section.rightSection
        h3 #{blog.title}
        p.contextD #{blog.description}
