extends layout.pug 

block content 
    section.leftSection
        p.blogExpl You can write anything you want, here in this blog application. Form your ideas and record your memories.
        a.leftB(href='/create') Write Blog!

    section.rightSection
        img(src='https://post-phinf.pstatic.net/MjAxOTA1MDdfMTU5/MDAxNTU3MTk2MDI0MTY3.ak5LsJsaKXoT0h00I7CeLqUZot31wx8pyrnuZKPdMPsg.rJEkIU8PU3FszfH7MMzb84IMz_wVwpokpU9nvXRm_iEg.JPEG/bremen-town-musicians-1651945_1920.jpg?type=w1200' alt='the image of animals')
