doctype html
html(lang="en")
    head
        title B104, BLog app
        link(rel='stylesheet' href='/static/style.css')
    body 
        header 
            h1.logo 
                a(href='/') B104 
            p.viewBlog 
                a(href='/blogList') view blogs
                
        block content
        